<div class="grid_4 contact">

    <h4>Address</h4>
    <div class="hr dotted clearfix">&nbsp;</div>
    <ul>
        <li><strong>Simplicity Itself Ltd</strong><br />
            64 ACRES LAND<br/>
            STALYBRIDGE<br/>
            EAST CHESHIRE<br/>
            ENGLAND<br/>
            SK15 2JU<br /></li>
        
    </ul>

    <!-- Email Addresses -->
    <h4>Emails</h4>
    <div class="hr dotted clearfix">&nbsp;</div>
    <ul>
        <li>General - <a href="mailto:info@simplicityitself.com">info@simplicityitself.com</a></li>
        <li>Sales - <a href="mailto:sales@simplicityitself.com">sales@simplicityitself.com</a></li>
    </ul>

   
</div>