





        <div class="hr grid_12 clearfix" style="z-index:0">&nbsp;</div>
        <!-- Footer -->
        
        
        
        <p class="grid_12 footer clearfix" style="z-index:0">
            <span class="float"><b>&copy; Copyright 2013</b> <a href="">Simplicity Itself Ltd</a></span> 
            
           
            
            <a class="float right" href="#">top</a>
        </p>
        
         <ul id="navigation" class="grid_8" style="z-index:0">

            
            <li>
                <a href="/contact/" class=""><span
                    class="meta">your thoughts</span>
                    <br />Contact Us</a>
            </li>
            <li>
                <a href="/projects/" class="">
                    <span class="meta">open source, first</span>
                    <br />Projects</a>
            </li>
			<li>
                <a href="/training/" class="">
                    <span class="meta">processes, tools</span>
                    <br />Training</a>
            </li>
			<li>
                <a href="/consultancy/" class="">
                    <span class="meta">make your software happen</span>
                    <br />Consultancy</a>
            </li>
            <li>
                <a href="/" class="current">
                    <span class="meta">back to base</span>
                    <br />Home</a>
            </li>
        	</ul>
		</div><!--end wrapper-->



    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37728683-1']);
        _gaq.push(['_setDomainName', 'simplicityitself.com']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    
	</body>
</html>
