
		<div style="margin-left:20px;">
		<div class="float" style="float:right; height: 63px; margin: 0 14px 20px 14px; margin-right: 40px;">
		<span style="font-size: 2.2em; font-weight:bold; float:left; display:block; width:4em;">
		Talks&nbsp;&amp; Events
		</span>
		
		<a href="/archive/" style="display:block;height:100%; float:left; position:relative;" title="Archive">
			<span style="font-size:4em;">»</span>
		</a>
		</div>
		{% assign counter=0 %}
		{% capture year %}{{ site.time | date: '%Y' }}{% endcapture %}
		{% capture month %}{{ site.time | date: '%m' }}{% endcapture %}
		{% capture day %}{{ site.time | date: '%-d' }}{% endcapture %}
		
		
		
		{% for post in site.posts reversed %}
		
		{% if post.category == 'event' and counter < 3 %}
			
			{% capture pyear %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture pmonth %}{{ post.date | date: '%m' }}{% endcapture %}
			{% capture pday %}{{ post.date | date: '%-d' }}{% endcapture %}
			
			{% if pyear >= year and pmonth >= month %}
				{% assign counter=counter | plus:1 %}
		<div class="float" style="height:60px; width:220px; float:left; margin: 0 14px 20px 14px; position:relative;">
            
			<a href="{{ post.url }}" style="display:block; width:100%; height:100%;">
				<span class="title" style="font-size: 1.3em; font-weight:bold; display:block;">
				{{ post.title }}
				</span>

				<span class="date" style="position: absolute; bottom: 0px; left:0px; font-size:1.1em;">{{ post.date| date: "%Y-%m-%d" }}</span>
			</a>
                
			<p class="clear">&nbsp;</p>

		</div>

		<div style="width:1px; border-right:1px solid #aaaaaa; float:left; height:60px;">&nbsp;</div>
			{% endif %}
		{% endif %}
        
		
		
		{% endfor %}
		
		
		</div>
		
		<div class="hr grid_12 clearfix" style="z-index:-10;">&nbsp;</div>