		<div id="wrapper" class="container_12 clearfix">

		<!-- Text Logo -->
		<h1 id="logo" class="grid_4"><a href="/">Simplicity<span class="logo-meta"> itself</span></a></h1>
            
        
        

        <div class="hr grid_12">&nbsp;</div>

		<div class="clear" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></div>

		<!-- Caption Line -->
		<div>
		<div class="events_item float alpha" style="width:150px;">
            <div>
                <img src="http://qconlondon.com/dl/photos/speakers/David_Dawson.png">
                <h3>Creating Architectural Flexibility using Groovy</h3>
                <span class="date">
                    2013-12-12 <span><a href="http://skillsmatter.com/podcast/groovy-grails/creating-architectural-flexibility-using-groovy">SkillsMatter, London</a></span>
                </span>
                
            </span>
                <p class="clear">&nbsp;</p>
            </div>
        </div>
        <div class="events_item float alpha" style="width:150px;">
            <div>
                <img src="http://qconlondon.com/dl/photos/speakers/David_Dawson.png">
                <h3>Creating Architectural Flexibility using Groovy</h3>
                <span class="date">
                    2013-12-12 <span><a href="http://skillsmatter.com/podcast/groovy-grails/creating-architectural-flexibility-using-groovy">SkillsMatter, London</a></span>
                </span>
                
            </span>
                <p class="clear">&nbsp;</p>
            </div>
        </div>
		
		</div>
		
		<div class="hr grid_12 clearfix">&nbsp;</div>