
		<div style="margin-left:20px;">
		
		{% for post in site.posts %}
		
		<div class="events_item events_item_expander float alpha" style="">
            <div class="floater" style="float:none;">
				<a href="{{ post.url }}" style="display:block; width:100%; height:100%;">
            	
            	
            	<span class="title" style="">
            	
                {{ post.title }}
                </span>
                
                
                
                <span class="date">{{ post.date| date: "%Y-%m-%d" }}</span>
                </a>
                
                <p class="clear">&nbsp;</p>
            </div>
        </div>
		
		
		{% endfor %}
		
		
		</div>
		
		<div class="hr grid_12 clearfix" style="z-index:-10;">&nbsp;</div>