
/* Global Styles */

	body								{background:url(../images/bg.png) repeat-x #FFFFFF; font-size:12px;	font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif; color:#000000;}
	a:focus								{outline:1px dotted;}
	a									{color:#717171; text-decoration:none;}
	a:hover								{text-decoration:none;}
	a span								{font-size:90%;}
	h1									{font-size:25px;}
	h2									{font-size:23px;}
	h3									{font-size:21px;}
	h4									{font-size:19px;}
	h5									{font-size:17px;}
	h6									{font-size:15px;}
	ol									{list-style:decimal;}
	ul									{list-style:disc;}
	li									{margin-left:20px; position:relative;}
	p,
	li,
	dl									{line-height:18px;}
	p,
	dl,
	hr,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ol,
	ul,
	pre,
	table,
	address,
	fieldset,
	img									{margin-bottom:20px;}
	#wrapper							{margin-top:7px;}
	ul li ul,
	ol li ol							{margin-bottom:0px;}
	ol									{padding: 0 0 0 5px;}
	
/* Custom Grid */

	.container_12 						{margin-left:auto; margin-right:auto; width:1020px;}
	.float								{display:inline; float:left; position:relative;}
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 							{display:inline; float:left; position:relative; margin-left:20px; margin-right:20px;}
	.container_12 .grid_1				{width:45px;}
	.container_12 .grid_2 				{width:130px;}
	.container_12 .grid_3 				{width:215px;}
	.container_12 .grid_4 				{width:300px;}
	.container_12 .grid_5 				{width:385px;}
	.container_12 .grid_6 				{width:470px;}
	.container_12 .grid_7 				{width:555px;}
	.container_12 .grid_8 				{width:640px;}
	.container_12 .grid_9 				{width:725px;}
	.container_12 .grid_10 				{width:810px;}
	.container_12 .grid_11 				{width:895px;}
	.container_12 .grid_12 				{width:980px;}
	
/* Global Classes */

	.hr									{border:none; border-bottom:1px solid #f0f0f0; border-top:1px solid #d6d6d6; clear:both; height:0; line-height:0; width:100%; font-size:0; padding:0 ;margin-bottom :20px;}
	.pr									{border:none; border-bottom:1px solid #f0f0f0; border-top:1px solid #d6d6d6; clear:both; height:0; line-height:0; width:100%; font-size:0; padding:0; margin-bottom :30px;}
	.dotted								{border-style:dashed; border-left:0; border-right:0;}	
	.meta								{font-weight:normal;font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif; font-size:11px; color:#999999 !important; line-height:16px; text-transform:none; text-shadow:none;}
	.right								{float:right;}
	.left								{float:left;}
	.img_left							{float:left; margin:10px 20px 10px 0;}
	.img_right							{float:right; margin:10px 0 10px 20px;}
	.clear								{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
	.textright 							{text-align:right;}
	.error,
	.success							{display:none;}

/* Buttons */

	.button, .button:visited 			{background:#000000 url(../images/alert-overlay.png) repeat-x; display:inline-block; padding:5px 10px 6px; color:#fff; text-decoration:none; -moz-border-radius:5px; border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5); text-shadow:0 -1px 1px rgba(0,0,0,0.25); border-bottom:1px solid rgba(0,0,0,0.25); position:relative; cursor:pointer; font-size:13px; font-weight:bold; line-height:1; border:0;}
 	.button:hover						{background-color:#111; color:#fff; text-decoration:none;}
	.button:active						{top:1px;}
	
/* Site Logo */

	h1#logo 							{font-size:48px; font-weight:normal; margin-top:30px; color:#000000; text-shadow: 1px 1px 1px #cfcfcf;}
	.logo-meta							{font-weight:normal;font-family:"Times New Roman", Times, serif; font-style: italic; font-size:32px; color:#999999 !important; line-height:16px; text-transform:none; text-shadow: 1px 1px 1px #cfcfcf;}
	h1 a								{color:#000000; text-decoration:none;}
/* Site Navigation */

	ul#navigation						{text-transform:uppercase; float:left; width:auto;}
	ul#navigation li 					{float:right; display:inline; margin : 0 0 0 20px;}
	ul#navigation li a					{font-family:arial, sans-serif !important; display:block; text-decoration:none; color:#000000; }
/*	ul#navigation li a:hover,
	ul#navigation li a.current			{background:url(../images/triangle.gif) no-repeat center top;}
*/
/* Footer */

	.footer,							
	.footer a							{color:#494949;}
	.footer a:hover						{color:#9d9d9d;}
	
/* Sub Navigation */

	ul.sidebar							{list-style:none; margin:0 0 30px 0; padding:0;}
	ul.sidebar li						{margin:0 0 0 0; padding:0;}
	ul.sidebar a						{width:295px;display:inline-block; padding:10px 0 10px 5px; border-bottom:1px solid #e4e4e4; text-decoration:none; color:#393939; }
	ul.sidebar li:last-child a			{-moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; border-radius-bottomleft:5px; border-radius-bottomright:5px; -webkit-border-bottom-left-radius:5px;  -webkit-border-bottom-right-radius:5px;}
	ul.sidebar li:first-child a			{-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; border-radius-topleft:5px; border-radius-topright:5px; -webkit-border-top-left-radius:5px;  -webkit-border-top-right-radius:5px;}
	ul.sidebar a:hover					{width:280px; background:#f6f6f6; padding:10px 0 10px 20px;}
	
/* Caption */

	h2.caption 							{color:#494949; text-shadow:1px 1px 1px #cfcfcf; font-size:23px; line-height:30px;font-weight:normal; }
	h2.caption span						{color:#000000; font-weight:bold;}
	h2.caption a:hover					{text-decoration : underline;}

/* Homepage QuickNavigation */

	#quicknav							{background:url(../images/link_border.png) repeat-x;}
	a .title 							{color:#000000; margin:0}
	.quicknavgrid_3						{width:204px; margin:0px; padding:20px 20px 0; display:inline; float:left; position:relative; margin-left:1px;}
	.quicknav							{background:#FFFFFF; color:#555}
	.quicknav p 						{margin:0; margin-top:4px; font-size:1.2em; font-weight: bolder ; font-style: italic}
	.quicknav ul 						{margin:0; margin-top:4px; font-size:1.2em; font-weight: bolder ; font-style: italic}
	.quicknav .subtext 				    {margin:0; color:#777; font-size:1.2em; }
	.quicknav:hover						{background:url(../images/link_bg.png) repeat-x;}
	.quicknavhr							{margin-bottom:0;}
	.quicknav.alpha						{margin-left:0; width:205px;}

/* About Us Page Timeline */

	dl.history							{margin:10px 10px;}
	dl.history							{margin:0 0 10px 0; zoom:1}
	dl.history dt						{width:100px; float:left; font-weight:bold;}
	dl.history dd						{width:250px; float:left; padding:0; margin-bottom:20px;}
	
/* Common Scroller Styles */

	.roundabout-holder 					{list-style:none; width:500px; height:300px; margin:0px auto;}
	.roundabout-moveable-item 			{font-size:12px!important; height:300px; width:600px; cursor:pointer; padding:5px; border:1px solid #aaaaaa; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#f9f9f9;}
	.roundabout-moveable-item img 		{height:100%; width:100%; background-color:#FFFFFF; margin:0;}
	.roundabout-in-focus 				{cursor:auto;}
	.roundabout-in-focus:hover			{-webkit-box-shadow:0px 0px 20px #787878; -moz-box-shadow:0px 0px 20px #787878; background:#f9f9f9;}
	.roundabout-holder span				{display:none; font-size:12px;}
	.roundabout-in-focus:hover span		{display:inline; position:absolute; bottom:5px; right:5px; padding:8px 20px; background:#f9f9f9; color:#000000; z-index:999; -webkit-border-top-left-radius: 5px; -moz-border-radius-topLeft: 5px; border-radius-topLeft: 5px; font-size : 12px;border-left:1px solid #aaaaaa; border-top:1px solid #aaaaaa; }
	.roundabout a:active,
	.roundabout a:focus,
	.roundabout a:visited				{outline:none; text-decoration:none;}
	.roundabou li 						{margin:0}
	a img								{border:none; outline:0;}

/* Featured Image Slider */

	#featured							{margin:10px 0 40px 0;}
	
/* Portfolio Image Slider */

	#folio_scroller_container						{margin-top:5px; margin-bottom:15px; height:auto;}
	#folio_scroller_container .roundabout-holder	{list-style:none; height:360px; margin:0px auto 20px auto;}
	
/* Portfolio Styles */
	
	.portfolio_item						{width:223px; position:relative; margin:0 14px 28px 14px; padding:0;}
	.portfolio_item img					{padding:5px; border: 1px solid #aaaaaa; width:211px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background:#f9f9f9; margin-bottom:0px;}
	.portfolio_item span				{display:none;}
	.portfolio_item:hover img			{-webkit-box-shadow:0px 0px 20px #787878; -moz-box-shadow:0px 0px 20px #787878; background:#f9f9f9;}
	.portfolio_item:hover span			{display:inline; position:absolute; bottom:6px; right:6px; padding:10px 15px; background:#f9f9f9; color:#000000; z-index:999; border-left:1px solid #aaaaaa; border-top:1px solid #aaaaaa; -webkit-border-top-left-radius: 5px; -moz-border-radius-topLeft: 5px; border-radius-topLeft: 5px;}
	.portfolio_highlight                {text-shadow: #CFCFCF 1px 1px 1px; color:black;}


/* Training styles */

    .training_book_item img             {}

/* Blog Post Styles */

	.post a:hover						{text-decoration:underline;}
	.post .title						{color:#393939; font-size:30px;}
	.post .title a						{color:#393939; text-decoration:none;}
	.post a.button:hover				{text-decoration:none;}
	.post .sub							{font-size:12px; color:#9d9d9d;}
	.post .thumb						{width:619px; height:150px; padding:5px; border: 1px solid #cccccc; -moz-border-radius:5px; border-radius:5px; -webkit-border-radius:5px;}

/* Comment's List */
	
	.commentlist						{margin:0; padding:0; margin-bottom:20px; float:left; width:100%;}
	.commentlist li						{width:100%; clear:both; float:left; padding:0; list-style-type:none; margin:0; position:relative;}
	.gravatar							{float:left; width:60px; padding:0px 10px 0 0; text-align: center;}
	.gravatar img						{display:block; padding:5px; padding-left:none; margin-bottom:0px;}
	.comment_content					{float:left; width:569px;}
	.commentmetadata					{float:right;}
	.comment-reply-link					{text-decoration:none; font-size:10px;}
	.author_name						{font-weight:bold; font-style:normal; font-size:15px; float:left;}
	.author_name a{color:#000000;}
	.comment_text						{clear:both; margin-top:10px;}
	.comment-reply-link					{text-align:center; display:block;}
	
/* Contact Form */

	p.error								{margin-left:140px; margin-top:10px;}
	#contact_form ul					{float:left;}
	#contact_form ul li					{margin:10px 0; list-style:none; position:relative; clear:both;}
	#contact_form label					{line-height:35px; width:100px; text-align:right; float:left; margin-right:10px;}
	#contact_form input.bound,
	#contact_form select,
	#contact_form textarea				{float:left; padding:8px; border:1px solid #CCCCCC; margin-left:10px; background:#fcfcfc; -moz-border-radius:5px; border-radius:5px;  -webkit-border-radius:5px;}
	
	#contact_form select,
	#contact_form input.bound			{width:400px;}
	#contact_form textarea				{width:500px;height:150px; resize: none;}
	#contact_form input.button			{float:right;}
	
/* Comment form */

	#comment_form ul					{float:left;}
	#comment_form ul li					{margin:10px 0; list-style:none; position:relative; clear:both;}
	#comment_form label					{line-height:35px; width:100px; text-align:right; float:left; margin-right:10px;}
	#comment_form input,
	#comment_form textarea				{float:left; padding:8px; border:1px solid #CCCCCC; margin-left:10px; background:#fcfcfc; -moz-border-radius:5px; border-radius:5px; -webkit-border-radius:5px;}
	#comment_form input					{width:400px;}
	#comment_form textarea				{width:500px; height:150px; resize:none;}
	
/* Contact Page Sidebar */

	.contact ul 						{list-style:none;}
	.contact li 						{margin:0;}

/* Overiding Classes */
/* Must remain at the bottom of the stylesheet */

	.clearfix:after						{clear:both; content:' '; display:block; font-size:0; line-height:0; visibility:hidden; width:0; height:0;}
	* html .clearfix 					{height:1%;}
	.alpha								{margin-left:0;}
	.omega								{margin-right:0;}


    #staff li {
        list-style: none;

        margin: 10px;
        padding:8px;
        float:left;
        height:220px;
        width:auto;
        vertical-align: middle;
    }
    /* The profile pic */
    #staff img                          {margin:0; width:100px; float:left; }
/* The profile pic */
    #staff h3                           {margin:0; margin-bottom:10px;}
/* The profile pic */
    #staff p                            {margin:0; width: 450px; margin-left:10px; float:left;; height: 155px; vertical-align: top}

    #staff .profile                    {margin:0; width:100px; height:10%; vertical-align: middle}
    #staff a img                        {width: 30px; clear:left}


.events_item						{width:100%; position:relative; margin:0 14px 28px 14px; padding:0; z-index:1;}
.events_item div					{width:100%; padding:5px; border: 1px solid #aaaaaa; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius:5px; background:#f9f9f9; margin-bottom:0px; z-index:1;}
.events_item img                    {width:20%; float:right; padding:0; margin-bottom:0; box-shadow: 1px 1px 1px #cfcfcf;}
.events_item img.sub                {width:7%; position: relative; left: 6.5em; top: 3em;}
.events_item h3                     {position:absolute; text-shadow: 1px 1px 1px #cfcfcf; top:10px; left:2%; margin:0; padding:0; font-weight:900; font-size:1.8em; color:black; width:80%}
.events_item span.description				{display:none; font-size:1.6em;}
.events_item span.description	span	{display:block; margin-top:2%}
.events_item span.summary			{
    margin-top:3.4em;
    display:block;
    font-size:1.8em;
    clear:both
}

.events_item:hover span.summary	{
	color:#000;
}
.events_item span.summary ul {
   font-size:0.8em;
    margin-top:3%
}

.events_item p.front {
	width:180px;
	font-size:0.6em;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-top:5%;
}

.events_item .date                  {display:block; color:#666; float:left; padding:0; margin:0; padding-top:17%; font-size:2.5em; font-weight:bold}
.events_item .date span             {font-size:0.6em}
.events_item:hover div    {
    -webkit-box-shadow:0px 0px 20px #787878;
    -moz-box-shadow:0px 0px 20px #787878;
    background:#f9f9f9;
	
}


.events_item span.description {
    padding:10px 15px;
    background:#f9f9f9;
    color:#000000;
}

.hover_effect span.description {
    display:inline-block;
}

.events_item:hover span.description {
    display:inline-block;
}

.events_item:hover,.hover_effect div    {
    -webkit-box-shadow:0px 0px 20px #787878;
    -moz-box-shadow:0px 0px 20px #787878;
    background:#f9f9f9;
}

.events_item p.summary {
 	font-size: 1em;
	font-weight:normal;
}

.events_item_expander {
	z-index:100;
	width:180px;
}

.events_item_expander .title {
 display:block; 
 font-size:1.2em; font-weight:bold;
}

.events_item_expander div.floater {
 width:100%;
 height:65px;
 position:relative;
 z-index:10;
}

.events_item_expander .date {
 	font-size:1em;
	display:block;
	margin:0;
	padding:0;
	position:absolute;
	bottom: 10px;
	left:10px;
}
/*
.events_item_expander:hover {
 z-index:600;
 height:auto;
}

.events_item_expander:hover .title {
 display:block; 
 font-size:2em; 
 font-weight:bold;
}

.events_item_expander:hover div.floater {
 height:auto;
 overflow:none;
 z-index:600;
}

.events_item_expander:hover div {
	width:600px;
	z-index:601;
	position:absolute;
	height:auto;
}

.events_item_expander:hover .description {
	float:left;
}
*/

.events_highlight                {text-shadow: #CFCFCF 1px 1px 1px; color:black;}


.events_list_header						{
    position:relative;
    margin:0 14px 28px 14px;
    padding:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius:5px; 
    margin-bottom:0px;
    -size:0.2em;
    color:#888;
    font-size:2.4em;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #cfcfcf;

}

/* For ios, to work nicely with the :hover_effect alike */
/*.hover {*/
    /*-webkit-user-select: none;*/
    /*-webkit-touch-callout: none;*/
/*}*/

.event_list:hover .events_list_header {
    color:#000;
}
.event_list:hover .events_item div {
    border: 1px solid #888;
}

p.clear {clear:both; margin:0; padding:0; height:0}

.grid_3 .events_item { font-size: 0.7em; color:black}
.grid_3 .events_item h3 { font-size:2.6em}
.grid_4 .events_item { font-size: 0.7em}
.grid_5 .events_item { font-size: 0.9em}

.grid_4 .events_item img.sub     {width:10%; position: relative; left: 6.5em; top: 3.2em;}

pre {
    padding:1%;
    width:auto;
    color:#ccc;
    background:#005;
    /*width:50%;*/
	display: inline-block;

}

#article {
    margin-left:10%;
    width:80%

}

/* training page table */

.trainingtable {
 width:100%;
}

.trainingtable a {
 display:block;
 margin:0 0 20px;
 padding:5px;
/*  border-bottom:1px solid  #d6d6d6; */
 width:100%;
 position:relative;
 color:#000!important;
}

.trainingtable a h4 {
 font-size:1.3em;
 display:block;
 width:50%;
 float:left;
 margin-right:20px;
}

.trainingtable a div {
 padding-top:0.2em;
}

.trainingtable hr {
 clear:both;
 border:0 none;
 border-bottom: 1px solid #d6d6d6;
 width:99%;
}

/* course breakout stuff */

.course-breakout {
 position:absolute;
 right:20px;
 width:250px;
 padding-left:20px;
 border-left:1px solid #d6d6d6;
 
 
}

.course-breakout img {
 width:200px;
 display: block;
 margin: 2em auto;
 -webkit-box-shadow:0px 0px 10px #888888;
 -moz-box-shadow:0px 0px 10px #888888;
 
}

.course-breakout blockquote {
 width: 240px;
 margin:3em auto 0em;
}

.course-breakout blockquote footer {
 margin-bottom:2em;
}


.course-breakout blockquote span {
 quotes: "\201C""\201D""\2018""\2019";
 width: 100%;
 font-size:1.5em;
 line-height:1.2em;
}

.course-breakout blockquote span {

/*  display:inline-block; */
}

.course-breakout blockquote span:before {
  color: #ccc;
  content: open-quote;
  font-size: 5em;
  line-height: 0.1em;
  margin-right: 6px;
  vertical-align: -0.3em;
  position:relative;
  top:0.2em;
}

.course-breakout blockquote span:after {
  color: #ccc;
  content: close-quote;
  font-size: 5em;
  line-height: 0.1em;
  margin-left: 6px;
  vertical-align: -0.6em;

}

.course-breakout a.book {
  border: 1px solid #aaaaaa; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius:5px; background:#f9f9f9;
  display:block;
  width:230px;
  margin:1em auto;
  text-align:center;
  font-weight:bold;
  font-size:2em;
  padding:0.2em;
  
}

.course-breakout p {
 font-size: 1.2em;
 width: 230px;
 margin: 0.2em auto;
}

.course-breakout hr {
 width:20%;
 border:0 none;
 border-top: 1px solid #d6d6d6;
}

.course-breakout hr.closer {
 margin-top: 2em;
}

.course-breakout a.book:hover {
 -webkit-box-shadow:0px 0px 20px #787878;
 -moz-box-shadow:0px 0px 20px #787878;
 background:#f9f9f9;
}