	
	{% include header.html %}
	<div style="position:relative;">
		<div class="grid_8">
		
		{{ content }}
		
		</div>
		
		<div class="course-breakout" style="">
		
		
		<a class="book" href="/contact/private_booking">Book a Private Course</a>
		
		{% if page.public %}
		
		<hr />
		<p>This course is also available as a public course in {{ page.external[0] }}.</p>
		
		<a class="book" href="/contact/public_booking" style="clear:both;">Book Next Public Course</a>
		
		{% if page.external[2] %}
		{{ page.external[2] }}
		{% endif %}
		<p style="text-align:center;">Future course dates: 
		
		{% for date in page.external[1] %}
		
		<br /><strong>{{ date }}</strong>
		
		{% endfor %}
		
		</p>
		
		<hr class="closer" />
		
		{% endif %}
		
		
		{{ page.sidebar }}
		
		
		
		
		<div><a href="/training/">« Back to Training</div>
		</div>
	</div>

	{% include footer.html %}