<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>Simplicity Itself | Helping our clients deliver valuable software through simplicity</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Cloud Management" content="Open Cloud Brokers Ltd"/>
    <meta name="google-site-verification" content="KAGWK1jDn6_guuMbA0kP29W7Q2aDHjNWRieDarKwLtY"/>
    <newrelic:browserTimingHeader/>
    
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/reset.css" />
	<link rel="stylesheet" href="/static/css/styles.css" />
	
	<!-- Scripts -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://raw.github.com/fredhq/roundabout/master/jquery.roundabout.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="https://raw.github.com/fredhq/roundabout-shapes/master/jquery.roundabout-shapes.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('.events_item').bind('touchend', function(e) {
            e.preventDefault();
            $(this).toggleClass('hover_effect');
        });
    });
</script>

	<!--[if IE 6]>
	<script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>
	  /* EXAMPLE */
	  DD_belatedPNG.fix('.button');
	  
	  /* string argument can be any CSS selector */
	  /* .png_bg example is unnecessary */
	  /* change it to what suits you! */
	</script>
	<![endif]-->

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-84f92ba-a60c-cdc-a695-3c6bbfff9e66", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
	<body>
	
	{% include topbar.html %}
	
	<div style="margin-left:20px; margin-right:20px;">
		<a href="/simple-paas/" class="events_item float alpha" style="float:left; width:292px; z-index:1">
            <div>
                <span class="summary">
                    <h3 style="width:100%; text-align: center">Simple PAAS</h3>
                    <p class="front">I suppose this is text</p>
                </span>
                <p class="clear">&nbsp;</p>
            </div>
        </a>
	
	
		<a href="/consultancy/" class="events_item float alpha" style="float:left; width:292px; z-index:1">
            <div>
                <span class="summary">
                    <h3 style="width:100%; text-align: center">Something</h3>
                    <p class="front">Lorem Ipsum</p>
                </span>
                <p class="clear">&nbsp;</p>
            </div>
        </a>
	
	
		<a href="/training/" class="events_item float alpha" style="float:left; width:292px; z-index:1">
            <div>
                <span class="summary">
                    <h3 style="width:100%; text-align: center">Training</h3>
                    <p class="front">Blah blah blah</p>
                </span>
                <p class="clear">&nbsp;</p>
            </div>
        </a>
        
        <p class="clear">&nbsp;</p>
	</div>

	{% include footer.html %}